1- read in Diabetes_na_2.csv into Pandas dataframe df.
2- discuss drop , and  fill missing values and why

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('diabetes_na_2.csv')
df.head(10)

,Unnamed: 0,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,0,6,148.0,72,35,NaN,33.6,0.627,50.0,1
1,1,1,85.0,66,29,NaN,26.6,0.351,NaN,0
2,2,8,183.0,64,0,NaN,23.3,0.672,32.0,1
3,3,1,89.0,66,23,94.0,28.1,0.167,21.0,0
4,4,0,137.0,40,35,168.0,43.1,2.288,33.0,1
5,5,5,116.0,74,0,NaN,25.6,0.201,30.0,0
6,6,3,78.0,50,32,88.0,31.0,0.248,26.0,1
7,7,10,115.0,0,0,NaN,35.3,0.134,29.0,0
8,8,2,197.0,70,45,543.0,30.5,0.158,53.0,1
9,9,8,125.0,96,0,NaN,0.0,0.232,NaN,1

In [4]:
#Observations

#For Outcome column:
#Could maybe be if treatment is effective or maybe what type of diabetes.
#Could also be if individual has diabetes or not. This can be useful for
#looking at correlations between the other columns.

#Skin thickness:
#We assume that if they have 0 they have not taken the test
#Replacing 0 with NaN
#And then we replace NaN with the mean value of skin thickness

#BMI:
#We assume that if they have 0 they have not taken the test
#We replace all 0 with NaN
#And then we replace NaN with the mean value of BMI

#Insulin:
#After inspecting the different quantiles and min max values
#we see we have a huge value of outliers in this column, therefore
#we will use median value for fill
#we keep the 0.0 values because we assume they did not get any insulin

#Glucose:
#We assume that if they have 0 they have not taken the test
#Replace 0 with NaN
#No direct outliers in glucose, therefore we will use mean value.

#Age:
#We can use median value in order to avoid accidentaly "spiking" the 
#value if we have outliers with extraordinary high age.

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 10 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Unnamed: 0                768 non-null    int64
 1   Pregnancies               768 non-null    int64
 2   Glucose                   758 non-null    float64
 3   BloodPressure             768 non-null    int64
 4   SkinThickness             768 non-null    int64
 5   Insulin                   746 non-null    float64
 6   BMI                       768 non-null    float64
 7   DiabetesPedigreeFunction  768 non-null    float64
 8   Age                       759 non-null    float64
 9   Outcome                   768 non-null    int64
dtypes: float64(5), int64(5)
memory usage: 60.1 KB

In [6]:
df.describe()

,Unnamed: 0,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,758.000000,768.000000,768.000000,746.000000,768.000000,768.000000,759.000000,768.000000
mean,383.500000,3.845052,120.972296,69.105469,20.536458,82.152815,31.992578,0.471876,33.119895,0.348958
std,221.846794,3.369578,31.741909,19.355807,15.952218,116.102469,7.884160,0.331329,11.727676,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,191.750000,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,383.500000,3.000000,117.000000,72.000000,23.000000,42.500000,32.000000,0.372500,29.000000,0.000000
75%,575.250000,6.000000,140.000000,80.000000,32.000000,130.000000,36.600000,0.626250,40.000000,1.000000
max,767.000000,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [7]:
df.isnull().sum()

Unnamed: 0                   0
Pregnancies                  0
Glucose                     10
BloodPressure                0
SkinThickness                0
Insulin                     22
BMI                          0
DiabetesPedigreeFunction     0
Age                          9
Outcome                      0
dtype: int64

In [8]:
df_dropna = df.dropna()

corr_diff_global_and_dropped = df.corr(numeric_only=True) - \
    df_dropna.corr(numeric_only=True)
corr_diff_global_and_dropped.sum()
####We drop 38 rows if using dropna

Unnamed: 0                  0.001364
Pregnancies                -0.035244
Glucose                     0.007387
BloodPressure               0.013311
SkinThickness               0.000451
Insulin                     0.008210
BMI                        -0.020190
DiabetesPedigreeFunction    0.013634
Age                        -0.019346
Outcome                    -0.030263
dtype: float64

In [9]:
df['Insulin'].quantile(0.75)

130.0

In [10]:
df['Insulin'].mean()

82.15281501340482

In [11]:
df['Insulin'].median()

42.5

In [12]:
df['Age'].mean()

33.11989459815547

In [13]:
df['Age'].median()

29.0

In [14]:
df['BMI'].value_counts()

BMI
32.0    13
31.6    12
31.2    12
0.0     11
32.4    10
        ..
36.7     1
41.8     1
42.6     1
42.8     1
46.3     1
Name: count, Length: 248, dtype: int64

In [15]:
df['Glucose'].value_counts()

Glucose
99.0     17
100.0    17
129.0    14
111.0    14
106.0    14
         ..
191.0     1
177.0     1
44.0      1
62.0      1
190.0     1
Name: count, Length: 136, dtype: int64

In [16]:
df['BloodPressure'].value_counts()

BloodPressure
70     57
74     52
78     45
68     45
72     44
64     43
80     40
76     39
60     37
0      35
62     34
66     30
82     30
88     25
84     23
90     22
86     21
58     21
50     13
56     12
52     11
54     11
75      8
92      8
65      7
85      6
94      6
48      5
96      4
44      4
100     3
106     3
98      3
110     3
55      2
108     2
104     2
46      2
30      2
122     1
95      1
102     1
61      1
24      1
38      1
40      1
114     1
Name: count, dtype: int64

In [17]:
df['SkinThickness'].value_counts()

SkinThickness
0     227
32     31
30     27
27     23
23     22
33     20
28     20
18     20
31     19
19     18
39     18
29     17
40     16
25     16
26     16
22     16
37     16
41     15
35     15
36     14
15     14
17     14
20     13
24     12
42     11
13     11
21     10
46      8
34      8
12      7
38      7
11      6
43      6
16      6
45      6
14      6
44      5
10      5
48      4
47      4
49      3
50      3
8       2
7       2
52      2
54      2
63      1
60      1
56      1
51      1
99      1
Name: count, dtype: int64

In [18]:
df['Glucose'].replace(0, np.NaN, inplace=True)
df['SkinThickness'].replace(0, np.NaN, inplace=True)
df['BloodPressure'].replace(0, np.NaN, inplace=True)
df['BMI'].replace(0, np.NaN, inplace=True)

In [19]:
df_fillna = df

df_fillna['Insulin'] = \
        df_fillna['Insulin'].fillna(df['Insulin'].median())

df_fillna['Glucose'] = \
        df_fillna['Glucose'].fillna(df['Glucose'].mean()).round(2)

df_fillna['Age'] = \
        df_fillna['Age'].fillna(df['Age'].median()).astype(int)

df_fillna['BloodPressure'] = \
        df_fillna['BloodPressure'].fillna(df['BloodPressure'].mean()).round(2)

df_fillna['SkinThickness'] = \
        df_fillna['SkinThickness'].fillna(df['SkinThickness'].mean()).round(2)

df_fillna['BMI'] = \
        df_fillna['BMI'].fillna(df['BMI'].mean()).round(2)

df_fillna.head(10)

,Unnamed: 0,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,0,6,148.0,72.00,35.00,42.5,33.60,0.627,50,1
1,1,1,85.0,66.00,29.00,42.5,26.60,0.351,29,0
2,2,8,183.0,64.00,29.15,42.5,23.30,0.672,32,1
3,3,1,89.0,66.00,23.00,94.0,28.10,0.167,21,0
4,4,0,137.0,40.00,35.00,168.0,43.10,2.288,33,1
5,5,5,116.0,74.00,29.15,42.5,25.60,0.201,30,0
6,6,3,78.0,50.00,32.00,88.0,31.00,0.248,26,1
7,7,10,115.0,72.41,29.15,42.5,35.30,0.134,29,0
8,8,2,197.0,70.00,45.00,543.0,30.50,0.158,53,1
9,9,8,125.0,96.00,29.15,42.5,32.46,0.232,29,1

In [25]:
corr_diff = df_fillna.corr(numeric_only=True) - df_dropna.corr(numeric_only=True)
corr_diff.sum()

Unnamed: 0                  0.004494
Pregnancies                 0.191827
Glucose                     0.222985
BloodPressure               0.141111
SkinThickness               0.421273
Insulin                    -0.451387
BMI                         0.124229
DiabetesPedigreeFunction   -0.101865
Age                         0.274025
Outcome                     0.243345
dtype: float64

In [24]:
corr_diff_global_and_dropped.sum()

Unnamed: 0                  0.001364
Pregnancies                -0.035244
Glucose                     0.007387
BloodPressure               0.013311
SkinThickness               0.000451
Insulin                     0.008210
BMI                        -0.020190
DiabetesPedigreeFunction    0.013634
Age                        -0.019346
Outcome                    -0.030263
dtype: float64